html, body {
    width: 100vw;
    height: 100vh;
}

main {
    width: 100%;
    height: 90%;
}

/* Media query for mobile screens (up to 767px) */
@media screen and (max-width: 767px) {
    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0.5em;
    }
 }
 
 /* Media query for tablet screens (768px to 1023px) */
 @media screen and (min-width: 768px)  and (max-width: 1023px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }
 }
 
 /* Media query for computer screens (1024px and above) */
 @media screen and (min-width: 1024px) {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;
    }
 }