::-webkit-scrollbar {
    width: 30px;
}

::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: cadetblue;
}

.cnt {
    width: 300px;
    height: 100px;
    overflow: auto;
    border: 1px solid red;
}